body{
 margin:0;
 font-family:system-ui,sans-serif;
 background:linear-gradient(135deg,#0f172a,#020617);
 color:white;
}

/* NAVBAR */

.navbar{
 position:fixed;
 top:0;
 width:100%;
 background:rgba(2,6,23,0.9);
 backdrop-filter:blur(20px);
 padding:18px;
 display:flex;
 justify-content:center;
 gap:35px;
 z-index:1000;
}

.navbar a{
 color:white;
 text-decoration:none;
 font-weight:600;
}

/* CARD */

.card{
 width:700px;
 max-width:90%;
 margin:120px auto;
 padding:50px;

 border-radius:24px;

 background:rgba(255,255,255,0.05);
 backdrop-filter:blur(30px);

 text-align:center;

 box-shadow:
 0 40px 80px rgba(0,0,0,.6);
}

/* BUTTON */

button{
 margin-top:20px;
 padding:14px 32px;
 border:none;
 border-radius:12px;
 font-size:18px;
 background:linear-gradient(90deg,#e94560,#ff758c);
 color:white;
 cursor:pointer;
}

/* INPUT */

input{
 padding:14px;
 width:80%;
 border-radius:10px;
 border:none;
 font-size:18px;
 text-align:center;
 background:rgba(255,255,255,.08);
 color:white;
}

.big{
 font-size:34px;
 font-weight:bold;
}

.timer{
 opacity:.8;
}
